@font-face {
    font-family: mainFont;
    src: url('static/fonts/Inconsolata-VariableFont_wdth\,wght.ttf');
}

@font-face {
    font-family: inkFont;
    src: url('static/fonts/SourceCodePro-VariableFont_wght.ttf');
}

@font-face {
    font-family: fancy;
    src: url('static/fonts/BebasNeue-Regular.ttf');
}

#name {
    font-size: 50px;
    font-weight: bold;
}

.head {
    font-family: mainFont;
}

#logo {
    float: left;
    margin-left: 12px;
    width: 15px;
}

#meet {
    width: 42px;
}

a {
    color: black;
    text-decoration: none;
}

.head-drop {
    padding-left: 1em;
    padding-right: 1em;
}

.head-drop {
    font-size: 16px;
    padding-left: 30px;
    padding-right: 30px;
}

.navbar {
    padding-bottom: 0px;
}

.big_image {
    background:
    linear-gradient(to bottom, rgb(30, 30, 30), rgba(30, 31, 34, 0.95));
    /*url('static/images/drafr2.png');*/
    background-position: top;
    background-position: left;
    width: 100%;
    background-attachment: fixed;
    height: 900px;
    background-size: cover;
    color: white;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 50%;
    
}

.small_img {
    width: 30%;
    float: left;
    padding-right: 1em;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

h1 {
    font-size: 50px;
    margin-bottom: 0px;
    font-family: fancy;
}

h6 {
    font-weight: 365;
}


p {
    font-family: mainFont;
}

.center_div {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right:auto;
}

.vertical-center {
margin: 0;
position: absolute;
top: 50%;
-ms-transform: translateY(-50%);
transform: translateY(-50%);
}

.text-right {
    text-align: right;
}

.code {
    font-size: 200%;
}

/*  VARIABLES   */

:root {
    --main: rgb(30, 31, 34);
    --sub: rgb(43, 45, 49);
    --sob: rgb(49, 51, 56);
    --text: rgb(242, 243, 239);
}



/*  BIG BOY TAGS    */

body {
    background-color: var(--main);
    height: 10000px;
}



/*   CLASSES   */

.block {
    height: auto;
}

.sub-block {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.bg-sub {
    background-color: var(--sub);
}

.text-text {
    color: var(--text);
}

.bg-sob {
    background-color: var(--sob);
}

.left-half {
    width: 49%;
    float:left; /* add this */
    border-right: 3px solid rgba(62, 65, 71, 0.488);;
    padding-right: 5%;
    text-align: center;
    height: auto;
}

.right-half {
    padding-left: 5%;
    height: auto;
    overflow: hidden; /* if you don't want #second to wrap below #first */
}

.slide {
    display: none;
}

.slide-start {
    display: none;
}

/*   IDs   */